asgiref==3.7.2
dj-database-url==2.1.0
Django==4.2.11 #5.0.3
django-environ==0.11.2
django-phonenumber-field==7.3.0
djangorestframework==3.14.0
phonenumbers==8.13.32
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.10.0
psycopg2-binary==2.9.9